[workspace]
members = ["socialmediathingnametbd-api", "socialmediathingnametbd-db"]

[workspace.package]
edition = "2024"

[workspace.lints.rust]
unsafe_code = "forbid"

[workspace.lints.clippy]
pedantic = "warn"
